
.images {
    display: grid;
    height:300px;
    width:100%;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
@media (max-width: 700px) {
    .images {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 400px) {
    .images {
        grid-template-columns: 1fr;
    }
}