body{
    display:flex;
    justify-content: center;
    align-items:center;
    height:100vh;
    background-color:rgb(138, 138, 248);
}
nav {
    display: flex;
    background-color: #b87358;
}
nav a {
    color: rgb(30, 250, 5);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    font-weight:bold;
    font-size:50px;
}
@media (max-width: 768px) {
    nav{
        flex-direction: column;
    }
}
