body{
    display:flex;
    justify-content: center;
    align-items:center;
    height:100vh;
    background-color: rgb(164, 197, 199);
}
.animated-button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
    font-size:50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.animated-button:hover {
    background-color: green;
    transform: scale(1.1);
}